## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## Visual Studio Code
/.devcontainer
/.vscode

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini
